body {
    background-color: rgb(255, 255, 255);
    color: rgb(41, 41, 41);
}

.navbar,
footer {
    background-color: rgb(135, 252, 230);
}

main > .container {
    padding: 10px 10px 0;
}

.toast {
    position: absolute;
    top: 30px;
    right: 30px;
}
