body {
  background: rgb(240, 240, 253);
  color: darkblue;
}

.navbar, footer, .offcanvas {
  background-color: blue;
}

main > .container {
  padding: 30px 15px 0;
}

.navbar-text, .nav-link, .navbar-brand, .navbar-toggler, footer {
  color: white;
}

/*
a.nav-link:hover, a.navbar-brand:hover {
  color: lightgray;
}
*/

.toast {
  position: absolute;
  top: 30px;
  right: 30px;
}
